<section>
	<h1>About Me</h1>
	<img src='/images/avatar.jpg'>
	<p>
		I'm Vera. I'm a Applied Mathematics graduate and currently work as a Django developer.
		<br>
		I regularly code in Python, and have experience using C, C++, Javascript (jQuery), HTML, CSS. Outside of work, I love hanging out with my bike, playing badminton, reading books and to write short stories. :) <br>
		I speak Russian, Spanish and English. <br>
		<br>
		python &#10084; django &#10084; javascript &#10084; jquery &#10084; git &#10084; mercurial &#10084; postgresql &#10084; linux &#10084; reading &#10084; math &#10084; applied mathematics &#10084; artificial intelligence &#10084;  bike &#10084; badminton &#10084; español
	</p>

</section>
