<section>
	<h1>About Me</h1>
	<img src='/images/avatar.jpg'>
	<p>
		I'm Vera. I'm a Applied Mathematics graduate and currently work as a Django developer.
		<br>
		I regularly code in Python, and have experience using JavaScript (jQuery), HTML, CSS, SQL (PostgreSQL, MySQL). Outside of work, I love hanging out with my bike, playing badminton and reading books. :) <br>
		I speak Russian, Spanish and English. <br>
		<br>
		My personal website: <a href="http://vero4ka.info">vero4ka.info</a>
	<p>
	</p>
		python &#10084; django &#10084; javascript &#10084; jquery &#10084; git &#10084; mercurial &#10084; postgresql &#10084; linux &#10084; reading &#10084; math &#10084; applied mathematics &#10084; artificial intelligence &#10084;  bike &#10084; badminton &#10084; español
	</p>
	<a style="color: red" href="http://careers.stackoverflow.com/vero4ka" target="_blank">I'm looking for a job in Barcelona</a>

</section>
