[submodule ".themes/blanket"]
	path = .themes/blanket
	url = git://github.com/octothemes/blanket.git
[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octothemes/murky-mussels.git
[submodule ".themes/light"]
	path = .themes/light
	url = git://github.com/octothemes/classic-light.git
