// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background: $header-bg;
  background-image:url('/images/header_background.jpg');
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: #FBED85;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}